<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="integration_testing" connectionString="Url=http://dev04/Contoso" />
  </connectionStrings>
    
  <runtime>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup></configuration>
